<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card shadow-lg mt-7 m-5" style="width: 49vw;">
                <div class="card-header">
                    <h5 class="display-4">SignUp</h5>
                </div>
                <div style="background-color: khaki;" class="card-body text-center">
                    <form (submit)="register()" [formGroup]="registerForm">
                        <input type="text" class="form-control" placeholder="Email" [class.is-invalid]="email.invalid && email.touched" formControlName="email" [formControl]="email">
                        <span *ngIf="email.touched">
                            <small *ngIf="email.hasError('required')" class="text-danger">ID is required</small>
                            <small *ngIf="email.hasError('email')" class="text-danger">Give Valid Email</small>
                        </span>
                        <br>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2" [class.is-invalid]="password.invalid && password.touched" formControlName="password" [formControl]="password">
                        <span *ngIf="password.touched">
                            <small *ngIf="password.hasError('required')" class="text-danger">Password is required</small>
                        </span>
                        <br>
                        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-success" >Sign In</button>
                    </form>
                </div>
                <div class="card-footer">
                    <span><small>Already have Account?</small></span>
                    <a class="btn btn-success float-end" routerLink='/login'>Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>